<%= form_for(@reading) do |f| %>
  <% if @reading.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reading.errors.count, "error") %> prohibited this reading from being saved:</h2>

      <ul>
      <% @reading.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :read_at %><br />
    <%= f.datetime_select :read_at %>
  </div>
  <div class="field">
    <%= f.label :station %><br />
    <%= f.text_field :station %>
  </div>
  <div class="field">
    <%= f.label :temperature %><br />
    <%= f.text_field :temperature %>
  </div>
  <div class="field">
    <%= f.label :weather %><br />
    <%= f.number_field :weather %>
  </div>
  <div class="field">
    <%= f.label :wind_direction %><br />
    <%= f.number_field :wind_direction %>
  </div>
  <div class="field">
    <%= f.label :wind_strength %><br />
    <%= f.number_field :wind_strength %>
  </div>
  <div class="field">
    <%= f.label :pressure %><br />
    <%= f.number_field :pressure %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
