<p id="notice"><%= notice %></p>

<p>
  <b>Read at:</b>
  <%= @reading.read_at %>
</p>

<p>
  <b>Station:</b>
  <%= @reading.station %>
</p>

<p>
  <b>Temperature:</b>
  <%= @reading.temperature %>
</p>

<p>
  <b>Weather:</b>
  <%= @reading.weather %>
</p>

<p>
  <b>Wind direction:</b>
  <%= @reading.wind_direction %>
</p>

<p>
  <b>Wind strength:</b>
  <%= @reading.wind_strength %>
</p>

<p>
  <b>Pressure:</b>
  <%= @reading.pressure %>
</p>


<%= link_to 'Edit', edit_reading_path(@reading) %> |
<%= link_to 'Back', readings_path %>
